<mat-card>
  <form class="half-form">
    <mat-form-field class="full-width">
      <mat-label>Username</mat-label>
      <input
        type="text"
        matInput
        [formControl]="userNameFormControl"
        placeholder="Ex. CoolKid123"
      />
      <mat-error *ngIf="userNameFormControl.hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Current Password</mat-label>
      <input
        type="password"
        matInput
        [formControl]="userPasswordOldFormControl"
      />
      <mat-error *ngIf="userPasswordOldFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>New Password</mat-label>
      <input
        type="password"
        matInput
        [formControl]="userPasswordNewFormControl"
      />
    </mat-form-field>
  </form>
</mat-card>
